
body {
    color: black;
    font-family: 'Dosis', sans-serif;

    #sidebar {
        .side-nav {
            .nav-item {
                color: black;
            }
        }
    }

    .homepage {
        .daily-reminder .activity {
            h2 {
                text-decoration: underline;
            }
        }

        #enter {
            color: black;
        }

        p {
            font-size: 2em;
        }
    }       

    .add-task {
        font-size: 1em;
        color: black;
    
        &:hover {
            color: white;
        }
    }

    .add-acronym {
        font-size: 1em;
        color: black;
    
        &:hover {
            color: white;
        }
    }

    .watch {
        #timer-select {
            color: #256945;
            font-size: 0.8em;
        }

        .time {
            color: white;
           
            #elapsed {
                font-size: 1.3em;
            }

            #timer {
                font-size: 1.6em;
                font-weight: bold;
            }
        }

        .controls {
            .main-buttons {
                color: #256945;
            }
        }
    }

    .task-modal {
        color: black;
        
        .modal-header {
            color: white;
        }

        .submit {
            font-size: 1em;
            color: black;
        
            &:hover {
                color: white;
            }
        }
    }

    .acronym-modal {
        color: black;
        
        .modal-header {
            color: black;
        }

        .submit {
            font-size: 1em;
            color: black;
        
            &:hover {
                color: white;
            }
        }
    }

    #modes {
        .light-button {
            color: black;
        }
    }
}

body.dark {
    color: white;
    font-family: 'Dosis', sans-serif;

    #sidebar {
        .side-nav {
            .nav-item {
                color: white;
            }
        }
    }
    
    .homepage {
        h2 {
            text-decoration: underline;
        }

        #enter {
            color: white;
        }
    }  

    .add-task {
        font-size: 1em;
        color: white;
    
        &:hover {
            color: black;
        }
    }

    .add-acronym {
        font-size: 1em;
        color: white;
    
        &:hover {
            color: black;
        }
    }

    .watch {
        #timer-select {
            color: #EAC0C3;
        }

        .controls {
            .main-buttons {
                color: #EAC0C3;
            }
        }

        .time {
            color: black;
           
            #elapsed {
                font-size: 1.3em;
            }

            #timer {
                font-size: 1.6em;
                font-weight: bold;
            }
        }
    }

    .task-modal {
        color: white;
        
        .modal-header {
            color: black;
        }

        .submit {
            font-size: 1em;
            color: white;
        
            &:hover {
                color: black;
            }
        }
    }

    .acronym-modal {
        color: white;
        
        .modal-header {
            color: black;
        }

        .submit {
            font-size: 1em;
            color: white;
        
            &:hover {
                color: black;
            }
        }
    }

    #modes {
        .dark-button {
            color: white;
        }
    }
}


h1 {
    font-size: 5em;
}



