#mode-switch {    
    padding: 2% 3%;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    float: right;
    margin-top: -70px;
}

.settings {
    .general {
        padding: 1%;
    }

    .preferences {
        padding: 1%;
    }

    .settings-save {
        display: block;
        width: 140px;
        height: 40px;
        text-align: center;
        border: none;
        border-radius: 15px;
        transition: ease 0.4s;
        cursor: pointer;

        &:hover {
            transition: ease 0.4s; 
        }
    }
}

#sidebar {
    position: fixed;
    width: 350px;
    height: 90%;
    margin-top: -200px;
    left: -450px;
    transition: 0.5s;
    z-index: 2;

    .toggle-close {
        font-size: 50px;
        cursor: pointer;
        margin-left: 5%;
    }

    .profile {
        position: absolute;
        left: 50px;
        margin-top: 50px;
    }

    .sidebar-intro {
        position: absolute;
        left: 50%;
        top: 10%;

        #button-account {
            padding: 1% 2%;
            text-align: center;
            height: 40px;
            bottom: 0;
            left: 20px;
            border: none;
            border-radius: 10px;
        }
    }

    .timer-side {
        list-style: none;
    }

    .toggle-open {
        position: absolute;
        top: 300px;
        left: 450px;
    
        span {
            width: 40px;
            height: 3px;
            display: block;
            transform: rotate(45deg);
        }
    
        span:nth-child(2) {
            transform: rotate(-45deg);
            margin-top: 25px;
        }
    }

    .side-nav {
        position: fixed;
        width: inherit;
        top: 230px;
        height: 300px;
        margin: 0 auto;
        
        .nav-item {
            list-style-type: none;
            float: left;
            padding: 1% 2%;
            position: relative;
            text-align: center;
            width: 30%;
            height: 40px;
            bottom: 0;
            left: 20px;
            border: none;
            border-radius: 10px;
        }
    }

    .watch {
        width: 80%;
        height: 21vw;
        margin: 15vw auto 0 auto;

        #timer-select {
            border: none;
            width: 180px;
            height: 50px;
            margin: 20px;
            border-radius: 10px;
            padding: 10px;
        }

        .controls {
            display: flex;
            align-items: center;
            justify-content: center;

            .main-buttons {
                width: 30%;
                height: 3%;
                border: none;
                padding: 10px;
                border-radius: 10px;
            }
        }
        
        .time {
            text-align: center;
        }
    }
}

.music-container {
    width: 85%;
    height: 100px;
    border-radius: 15px;
    display: flex;
    padding: 20px 30px;
    position: relative;
    z-index: 10;
    margin: 100px auto 0 auto;


    .music-container.play {
        animation-play-state: running;
    }

    .img-container img {
        animation-play-state: running;
    }

    img {
        animation-play-state: running;
    }

    .music-navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        width: 100%;
        float: right;
    }

    .action-btn {
        background-color: none;
        width: 80px;
        height: 80px;
        border: 0;
        font-size: 20px;
        cursor: pointer;
        padding: 10px;
        margin: 0 20px;

        &:focus {
            outline: 0;
        }
    }

    .action-big {
        font-size: 40px;
    }

    .music-info {
        border-radius: 15px 15px 0 0;
        position: absolute;
        top: 0;
        left: 20px;
        width: calc(100% - 90px);
        transform: translateY(0%);
        opacity: 0;
        transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    }

    .music-container.play .music-info {
        opacity: 1;
        transform: translateY(-100%);
    }

    .music-info {
        opacity: 1;
        transform: translateY(-100%);
    }

    .progress-container {
        background-color: lightgrey;
        border-radius: 5px;
        cursor: pointer;
        margin: 30px 20px;
        height: 4px;
        width: calc(100% - 40px);
    }

    .progress {
        background-color: black;
        border-radius: 5px;
        height: 100%;
        width: 0%;
        margin: 30px 0px;
        transition: width 0.1s linear;
    }

    .img-container {
        position: relative;
        width: 100px;
    
        img {
            width: inherit;
            height: 100px;
            position: absolute;
            border-radius: 50%;
    
            animation: rotate 3s linear infinite;
    
            animation-play-state: paused;
        }
    
        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }
    
            to {
                transform: rotate(360deg);
            }
        }
    }
}

