body {
    background-color: white;
    transition: 0.4s;
    
    .homepage {
        .daily-reminder .activity {
            border-color: black;
        }

        #enter {
            background-color: #B2B2B2;
        }
    }

    .column {
        background-color: #B3B3B3;

        .add-task {
            background-color: #B0CEDF;

            &:hover {
                background-color: #7CBABC;
            }
        }
    }

    .completionCard {
        background-color: white;
    }

    #sidebar {
        background-color: #828282;

        .watch {
            background-color: #256945;

            #timer-select {
                background-color: white;
            }

            .controls {

                .main-buttons {
                    background-color: white;
                }
            }
        }

        .toggle-button {
            span {
                background: black;
            }
        }
    }

    .task-modal {
        background-color: black; /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

        .modal-content {
            background-color: white;
        }
        
        .modal-header {
            background-color: #7CBABC;
        }

        .close {
            color: white;
        }
    }
}

body.dark {
    background-color: black;
    transition: 0.4s;

    .homepage {
        .daily-reminder .activity {
            border-color: white;
        }

        #enter {
            background-color: #828282;
        }
    }

    .column {
        background-color: #828282;

        .add-task {
            background-color: #5C445D;

            &:hover {
                background-color: #C29E69;
            }
        }
    }

    .completionCard {
        background-color: black;
    }

    #sidebar {
        background-color: #B2B2B2;

        .watch {
            background-color: #EAC0C3;

            #timer-select {
                background-color: black;
            }

            .controls {

                .main-buttons {
                    background-color: black;
                }
            }
        }

        .toggle-button {
            span {
                background: white;
            }
        }
    }

    .task-modal {

        .modal-content {
            background-color: black;
        }
        
        .modal-header {
            background-color: #C29E69;
        }

        .close {
            color: black;
        }
    }
}

// colour palette (cave) - dark mode
// #5C445D (dark purple)
// #BE9ABB (light purple)
// #C29E69 (brown)
// #EAC0C3 (peach)
// #FCF0AA (light yellow)

// colour palette (lake) - light mode 
// #405681 (dark blue)
// #B0CEDF (light blue)
// #7CBABC (teal)
// #BEDC97 (light green)
// #256945 (dark green)