.kanban-board {
    display: flex;
    margin: -20px auto;

    .k-board {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        width: 90vw;

        .column {
            float: left;
            height: 100%;
            margin-right: 40px;
            padding: 10px 0 0 10px;

            &:last-child {
                margin-right: 0px;
            }
            

            h2 {
                text-decoration: underline;
            }

            .todo {
                background-color: red;
                position: relative;
                margin: 0 auto;
                padding: 15px;
                height: 60px; 
                width: 200px;
                border-radius: 15px;

                p {
                    font-size: 2em;
                    text-align: center;
                }
                
                .close-task {
                    position: absolute;
                    font-size: 3em;
                    top: 0px;
                    left: 180px;
                    color: black;
                    cursor: pointer;
                }
            }

            .add-task {
                display: block;
                width: 140px;
                height: 40px;
                text-align: center;
                border: none;
                border-radius: 15px;
                margin: 0 auto;
                transition: ease 0.4s;
                cursor: pointer;
    
                &:hover {
                    transition: ease 0.4s; 
                }
    
                &:active {
                    #taskform {
                        display: block;
                    }
                }
            }

            .completionCard {
                width: 100%;
                height: auto;
                margin-left: -30px;
                border-radius: 10px;
                padding: 5px;

                span {
                    margin-left: -5%;
                }
            }

            .remove {
                position: relative;
                border: none;
                left: 90%;
            }
        }

        #task-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "taskform tasklist";

            .empty {
                grid-area: tasklist; 
            }  

            #taskform {
                display: none;
            }
    
            .submit {
                background-color: red;
                color: yellow;
                padding: 50px;
                border: none;
            }
        }
    } 
}

/* The Modal (background) */
.task-modal {
    display: none; 
    position: fixed; 
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    margin: -50px 0 0 -50px;
    width: 110%; /* Full width */
    height: 110%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    /* Modal Content */
    .modal-content {
        position: relative;
        margin: 0 auto;
        padding: 0;
        border: 1px solid #888;
        width: 60%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0} 
        to {top:0; opacity:1}
    }

    @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }


    /* The Close Button */
    .close {
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    &:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    &:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-header {
        padding: 2px 16px;
    }
    
    .modal-grid {
        padding: 2px 16px;
    }
}   

@media screen and (max-width: 600px) {
    .kanban-board {
        width: 100%; 

        .k-board {
            display: grid; 
            grid-template-columns: 1fr 1fr 1fr;
    
            .column {
                margin-top: 10px;
    
                &:last-child {
                    margin-right: 0px;
                }
            }
        } 
    }
}

